*, *::before, *::after {
  box-sizing: border-box;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}